body {
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
    background-color: rgb(36, 36, 36);
    z-index: 1;
    position: relative;
}

#logar {
    color: white;
}

a {
    text-decoration: none !important;
}

#div-botao-add {
    display: flex;
    justify-content: end;
    padding: 30px;
}

#Econtatos {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#div-perfil {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(5, 5, 70);
    padding: 10px;
    width: 8rem;
    border-radius: 8px;
}

#div-perfil p {
    display: grid;
    height: 1.5rem;
    color: white;
}

#foto-perfil {
    height: 75px;
    border-radius: 100%;
    width: 75px;
}

#div-logo a {
    color: white;
}