form {
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
}

#div-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    width: 25rem;
}

#div-login-botao {
    display: flex;
    justify-content: center;
}

#login-botao {
    width: 100%;
}

#email-senha-incorreta {
    color: red;
}